@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
		margin: 0px;
		padding: 0px;
        text-decoration : none;
        color:#333333;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        box-sizing: border-box;
	}
button, input{
    cursor: pointer;
}

.joinBox{
    width:570px;
    text-align: left;
    margin: 53px auto 0px auto;
}
.joinTitle{
    
    text-align: left;
}
.joinBoxTitle{
    width:170px;
    font-size: 14pt;
}
.joinBoxContents{
    width: 400px;
    height: 50px;
    font-size: 14pt;
    border-bottom: 1px solid #555;
}
.joinBoxContents input{
    width: 340px;
    height: 30px;
    border: none;
    outline:none; /*기본테두리안보이게*/
    vertical-align: middle;
    padding:3px 3px 2px 7px; /*안쪽여백*/
}
.joinBoxContents span{
    font-size: 12pt;
    margin: 0px 50px 0px 10px;
}

.joinBoxContents [type="radio"]{
    vertical-align: middle;
    appearance: none;
    border: max(1px, 0.1em) solid #ddd;
    width: 1.25em;
    height: 1.25em;
}
.joinBoxContents [type="radio"]:checked{
    background-color: #555;
    border:3px solid white;
    box-shadow: 0 0 0 1.6px #555;
}
.joinBoxContents button{
    float: right;
    width:57px;
    height:20px;
    border: none;
    border-radius: 20px;
    background-color: #655A50;
    color: #fff;
    font-size: 10px;
    margin-top: 4px;
}
#submitBox{
	width:200px;
    margin:0px auto;
}
.submit{
    width:200px;
    height:60px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #fff;
    border:1px solid #ddd;
    margin: 100px 0px 80px 0px;
}
#JoinIdPwButtonBox{
    margin:0px auto;	
}
#JoinIdPwButtonBox button{
    width: 120px;
    height: 18px;
    line-height: 18px;
    border: none;
    background-color: #fff;
}
#mdBg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
#mdBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background: #ffffff;
}
#closeBtn{
    float: right;
    font-size: 18pt;
    border: none;
    background-color: #fff;
}
.loginBoxOnOff{
	display:block;
}
.loginBoxFale{
	display:none;
}
.joinFailText{
    display: block;
    top: 30%;
}
.joinFailText h2{
    font-size: 30pt;
    margin-top: 160px;
    margin-bottom: 60px;
}
.joinFailBtn{
    margin-top: 160px;
}
.AllBtn{
    width: 150px;
    height: 60px;
    border: solid 1px #655A50;
    border-radius: 10px;
    font-size: 12pt;
    color:#333;
    background-color: #fff;
}
.AllBtn:hover{
	font-weight: 800;
    border: solid 2px #655A50;
    background-color: #f8f8f8;
}
.joinSuccessText {
    display: block;
    top: 30%;
    padding-top: 120px;
}
.joinSuccessText h2{
    font-size: 24pt;
    margin-top: 40px;
    margin-bottom: 60px;
}
#loginMD{
    display: none;
}
.loginBoxLogo{
    margin-top:120px;
    margin-bottom: 60px;
}
.loginBtn{
    margin-top: 60px;
    margin-bottom: 40px;
}
.loginBox{
    display: block;
    width: 350px;
    margin:0px auto;
    color:#655A50;
}
.loginBoxRow{
    position: relative;
    width: 340px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #655A50;
    background-color: #fff;
    margin-bottom: 20px;
}
.loginBoxIdPw{
    position: absolute;
    top: 25%;
    left: 5%;
    height: 30px;
    width: 40px;
    font-size: 15pt;
}
.loginBoxInput{
    position: absolute;
    top: 25%;
    left: 20%; 
}
.loginBoxInput input{
    width: 240px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #655A50;
}
.loginBoxFaleText{
	width:100%;
}
.loginBoxFaleText h1{
	margin-top:200px;
	margin-bottom: 60px;
}
.loginBoxFaleText p{
	margin-bottom:140px;
}