<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	
	<!-- 상품 등록 기능 -->
	<insert id="prodInsert" parameterType="com.smhrd.model.Products">
        INSERT INTO PRODUCTS (PROD_ID, ID, CATEGORY_ID, PROD_NAME, PROD_IMG, PROD_PRICE, PROD_COLOR, PROD_OP, PROD_DESC)
        VALUES (#{prod_id}, #{id}, #{category_id}, #{prod_name}, #{prod_img}, #{prod_price}, #{prod_color}, #{prod_op}, #{prod_desc})
    </insert>
	
	<!-- 상품 전체 조회 -->
	<select id="getAllProducts" resultType="com.smhrd.model.Products">
        SELECT * FROM PRODUCTS
    </select>
    
    <!-- 상품 한개 조회 -->
	<select id="getSingleProduct" resultType="com.smhrd.model.Products">
        SELECT * FROM PRODUCTS where prod_id=#{id}
    </select>
    
	<!-- 상품 업데이트 -->
	<update id="updateProduct" parameterType="com.smhrd.model.Products">
		update products set category_id=#{category_id},prod_name=#{prod_name},prod_img=#{prod_img},prod_price=#{prod_price},prod_color=#{prod_color},prod_desc=#{prod_desc} where prod_id=#{prod_id}
	</update>
	
    <!-- 상품 삭제 -->
    <delete id="deleteProduct">
		delete from products where prod_id = #{prod_id}
    </delete>
	
    <!-- 장바구니 조회 -->
	<select id="getBasket" resultType="com.smhrd.model.Basket">
        SELECT * FROM baskets
    </select>
	
	<!-- 상품 조회수 정렬 -->
	<select id="orderByViews" resultType="com.smhrd.model.Products">
    SELECT * FROM PRODUCTS ORDER BY PROD_VIEWS DESC
	</select>
	
	<!-- 상품 별점 정렬 -->
	<select id="orderByDate" resultType="com.smhrd.model.Products">
    SELECT * FROM PRODUCTS ORDER BY CREATED_AT DESC
	</select>
	
	<!-- 카테고리별 상품 조회 -->
	<select id="getCategoryProducts" parameterType="int" resultType="com.smhrd.model.Products">
    SELECT * FROM PRODUCTS WHERE CATEGORY_ID=#{category_id}
	</select>
	
	<!-- 조회수 증가 쿼리 -->
	<update id="incrementViews">
		UPDATE PRODUCTS SET prod_views = prod_views + 1 WHERE prod_id = #{prod_id}
	</update>
	
	<select id="searchProductsByColor" resultType="com.smhrd.model.Products">
        SELECT * FROM PRODUCTS
        WHERE 
            TO_NUMBER(SUBSTR(PROD_COLOR, 1, INSTR(PROD_COLOR, ',') - 1)) BETWEEN #{r} - #{tolerance} AND #{r} + #{tolerance}
            AND TO_NUMBER(SUBSTR(PROD_COLOR, INSTR(PROD_COLOR, ',') + 1, INSTR(PROD_COLOR, ',', 1, 2) - INSTR(PROD_COLOR, ',') - 1)) BETWEEN #{g} - #{tolerance} AND #{g} + #{tolerance}
            AND TO_NUMBER(SUBSTR(PROD_COLOR, INSTR(PROD_COLOR, ',', 1, 2) + 1)) BETWEEN #{b} - #{tolerance} AND #{b} + #{tolerance}
    </select>

	<select id="getProdColor" resultType="com.smhrd.model.ProductColors">
		SELECT * FROM PRODUCT_COLORS WHERE PROD_ID = #{prod_id}
	</select>	
	
</mapper>