<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsedProductMapper">
	
    <!-- 중고 상품 등록 기능 -->
	<insert id="write" parameterType="com.smhrd.model.Used_Products">
        INSERT INTO used_products (id, used_title, used_content, used_price,USED_LOCATION, used_img)
        VALUES (#{id},#{used_title},#{used_content},#{used_price},#{used_location},#{used_img})
    </insert>
	
	<!-- 중고 상품 전체 게시판 -->	
	<select id="getu_prod" resultType="com.smhrd.model.Used_Products">
    SELECT * FROM Used_Products
	</select>
	
	<!-- 개별 상품 조회 -->
	<select id="get_single_prod" parameterType="int" resultType="com.smhrd.model.Used_Products">
    SELECT * FROM Used_Products WHERE used_id = #{used_id}
	</select>
	
	<!-- 최신 등록 정렬 -->
	<select id="orderByDate" resultType="com.smhrd.model.Used_Products">
    SELECT * FROM Used_Products ORDER BY CREATED_AT DESC
	</select>
	
	<!-- 댓글 불러오기 -->
	<select id="getAllComments" resultType="com.smhrd.model.UsedComment">
    SELECT * FROM USED_COMMENTS WHERE used_id=#{used_id}
	</select>
	
	<!-- 대댓글 불러오기 -->
	<select id="getAllRecomments" resultType="com.smhrd.model.UsedComment">
    SELECT * FROM USED_COMMENTS WHERE super_used_cmt_id=#{used_cmt_id}
	</select>
	
</mapper>